body {
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 60px;
  color: rgb(177, 72, 72);
}

form {
  margin-top: 22px;
  margin-left: 12px;
}

button {
  position: relative;
  left: -18px;
  top: 3px;
  padding: 6px 9px;
  background: #2dc1d8;
  border: none;
  border-radius: 10px;
  color: white;
}

button.geolocation {
  left: 10px;
  top: -33px;
  background: #306e77;
}
.fa-search-location {
  font-size: 20px;
}

h2,
span.weather-icon {
  font-size: 170px;
}

h2 {
  position: relative;
  top: 35px;
  left: 25px;
}
span.weather-icon {
  position: relative;
  right: 20px;
  color: #ffc31f;
}

h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  color: #056674;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

h4 {
  display: inline;
}

h5,
h6 {
  color: #d84251;
  font-weight: bolder;
}

img {
  max-width: 280px;
  position: relative;
  left: 290px;
  bottom: 20px;
}

.container {
  border: 1px solid red;
  margin: 0 auto;
  max-width: 650px;
  margin-top: 40px;
  margin-bottom: 60px;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.date-time,
.current-weather {
  text-align: center;
}

.current-weather {
  margin-left: 20px;
}

i.fa-temperature-high,
i.fa-temperature-low {
  font-size: 25px;
  margin-right: 10px;
}

p.degree {
  position: relative;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 20px;
  top: -150px;
  left: 150px;
}
.temp-low {
  top: 30px;
}
section.reading {
  position: relative;
  top: 170px;
  right: 30px;
  text-align: center;
}

.prediction {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
span.description {
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

span.five-icon {
  font-size: 40px;
  color: white;
}

.five-days {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  padding-top: 15px;
  padding-bottom: 20px;
}
.forecast-five {
  border: 1px solid rgba(237, 102, 99, 0.5);
  border-radius: 7px;
  background: #f7af8e;
  padding-top: 10px;
  padding-bottom: 25px;
}
